.card{
    width: 400px;
    height: 550px;
    background-color: #800000;
    border-radius: 60px;
}

.photo {
    height: 30%;
    padding: 48px;
}

.info {
    height: 40%;
    margin: 10px;
}

img {
    position: relative;
    border-radius: 20px;
}